{% extends 'tpl_base.twig' %}

{% block content %}
  <span id="section1"></span>

  <!-- Begin page content -->

  <div class="row orr-overview-stats">
    <div class="col-sm-12">
      <div>
        <div class="row">

          <div class="col-sm-4 herader_teaser_column">
            <div class="orr-info-box">
              <div class="item orr-info-box--feature padding-common">
                <div class="row">
                  <div class="wrapper-icon col-sm-3">
                    <div class="background-icon">
                      <i class="icon icon-outline-pointer font-color-red">
                        <span class="glyphicon glyphicon-home"></span>
                      </i>
                    </div>
                    <!-- /.background-icon -->
                  </div>
                  <!-- /.wrapper-icon -->
                  <div class="text-wrapper col-sm-9 pull-right">
                    <h3 class="font-color-red">Oberhausen</h3>

                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan velit tincidunt ante
                      commodo suscipit.
                    </p>
                  </div>
                  <!-- /.text-wrapper -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.item -->
            </div>
          </div>

          <div class="col-sm-4 herader_teaser_column">
            <div class="orr-info-box">
              <div class="item orr-info-box--feature padding-common">
                <div class="row">
                  <div class="wrapper-icon col-sm-3">
                    <div class="background-icon">
                      <i class="icon icon-outline-clock font-color-blue-cool">
                        <span class="glyphicon glyphicon-time"></span>
                      </i>
                    </div>
                    <!-- /.background-icon -->
                  </div>
                  <!-- /.wrapper-icon -->
                  <div class="text-wrapper col-sm-9 pull-right">
                    <h3 class="font-color-blue-cool">2 Tage</h3>

                    <p>
                      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                      Praesent fermentum iaculis
                    </p>
                  </div>
                  <!-- /.text-wrapper -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.item -->
            </div>
          </div>

          <div class="col-sm-4 herader_teaser_column">
            <div class="orr-info-box">
              <div class="item orr-info-box--feature padding-common">
                <div class="row">
                  <div class="wrapper-icon col-sm-3">
                    <div class="background-icon">
                      <i class="icon icon-outline-microphone font-color-gold">
                        <span class="glyphicon glyphicon-euro"></span>
                      </i>
                    </div>
                    <!-- /.background-icon -->
                  </div>
                  <!-- /.wrapper-icon -->
                  <div class="text-wrapper col-sm-9 pull-right">
                    <h3 class="font-color-gold">ab 5 €</h3>

                    <p>
                      Duis accumsan metus vel nisi interdum fermentum. Duisviverra magna sit amet nisi ullamcorper
                      consectetur.
                    </p>
                  </div>
                  <!-- /.text-wrapper -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.item -->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="page-header text-center">
        <h1>Ein Pott voll Software</h1>
      </div>

      <p class="lead text-center">
        Samstag, 08. November 2014 - 09:30 bis 18:00 Uhr
        <br/>
        Sonntag, 09. November 2014 - 09:30 bis 18:00 Uhr
      </p>

      <p>
        Die OpenRheinRuhr ist eine Messe + Konferenz rund um das Thema "Freie Software". Die OpenRheinRuhr 2014 findet am
        8. und 9. November 2014 im Rheinischen Industriemuseum in Oberhausen statt.
      </p>

      <p>
        Menschen aus regionalen Gruppen wie beispielsweise der Düsseldorfer
        Fellowship der <a target="_blank" href="http://fsfe.org/"><abbr title="Free Software Foundation Europe">FSFE</abbr></a>, der
        <a target="_blank" href="http://www.dlug.de/"><abbr title="Düsseldofer Linux User Group">DLUG</abbr></a>, der
        <a target="_blank" href="http://www.lugor.de/"><abbr title="Linux User Group Oberhausen">LUGOR</abbr></a> und andere
        organisieren die OpenRheinRuhr und brauchen auch Ihre Unterstützung:
        <a href="mailto:helfer@openrheinruhr.de">helfer@openrheinruhr.de</a>.
      </p>
    </div>
  </div>

  <div class="divider" id="section2"></div>

  <section class="bg-1">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h2 class="orr-headline">
        Freie Software und Netzpolitik
      </h2>
    </div>
  </section>

  <div class="container">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h1>Das Konzept</h1>

      <p>
        Freie Software ist aus Firmen, Verwaltungen, Bildungseinrichtungen und Privathaushalten nicht mehr wegzudenken. In
        der bevölkerungsreichsten Region Europas bietet der OpenRheinRuhr e.V. durch Ausstellungen, Vorträge und Workshops
        Informationen über Freie Software.
      </p>

      <p>
        Auch Themen jenseits der Technik, wie "Bürgerrechte im Netz" oder die Handhabung von Lizenzen werden behandelt.
      </p>

      <p>
        Vorträge in mehreren Tracks sprechen Menschen mit unterschiedlichem Kenntnisstand an – vom Anfänger bis zum Profi.
        Entwickler & Projekte bekommen die Gelegenheit zum Erfahrungsaustausch.
      </p>

      <hr>

      <a href="/images/B120167-me-624x468.jpg" class="with-caption image-link" title="OpenRheinRuhr">
        <img src="/images/B120167-me-624x468.jpg" class="img-responsive content-image-small">
      </a>

      <hr>
    </div>
    <!--/col-->
  </div>
  <!--/container-->

  <div class="divider"></div>

  <section class="bg-3" id="section3">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h2 class="orr-headline">
        News
      </h2>
    </div>
  </section>

  <div class="continer bg-5">
    <div class="row">
      <div class="col-sm-4 col-xs-6">

        <div class="panel panel-default">
          <div><img src="images/rheinisches_industriemuseum.jpg" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">Hacker News</p>

            <p>120k Followers, 900 Posts</p>

            <p>
              <img src="images/rheinisches_industriemuseum.jpg" width="28px" height="28px">
            </p>
          </div>
        </div>
        <!--/panel-->
      </div>
      <!--/col-->

      <div class="col-sm-4 col-xs-6">

        <div class="panel panel-default">
          <div class="panel-thumbnail">
            <img src="images/rheinisches_industriemuseum.jpg" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">Bootstrap Templates</p>

            <p>902 Followers, 88 Posts</p>

            <p>
              <img src="images/rheinisches_industriemuseum.jpg" width="28px" height="28px">
            </p>
          </div>
        </div>
        <!--/panel-->
      </div>
      <!--/col-->

      <div class="col-sm-4 col-xs-6">

        <div class="panel panel-default">
          <div class="panel-thumbnail">
            <img src="images/rheinisches_industriemuseum.jpg" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">Social Media</p>

            <p>19k Followers, 789 Posts</p>

            <p>
              <img src="images/rheinisches_industriemuseum.jpg" width="28px" height="28px">
              <img src="images/rheinisches_industriemuseum.jpg" width="28px" height="28px">
            </p>
          </div>
        </div>
        <!--/panel-->

      </div>
      <!--/col-->
    </div>
    <!--/row-->
  </div>
  <!--/container-->

  <div class="divider"></div>

  <section class="bg-4" id="section4">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h2 class="orr-headline">
        Location
      </h2>
    </div>
  </section>

  <div class="container">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <address class="text-center">
        <strong>LVR-Industriemuseum</strong><br/>
        Hansastraße 20<br />
        <i>(direkt am Hauptbahnhof)</i><br/>
        46049 Oberhausen
      </address>
    </div>
  </div>

  <div class="row">
    <div id="map-canvas--js" class="map-canvas"></div>
    <hr/>
  </div>

  <div class="divider" id="section6"></div>

  <div class="container">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h2>Tickets / Preise</h2>

      <hr>
      <h4>
        TODO: Hinweis auf gemeinnützligkeit + Link ...
      </h4>

      <p>add the link here <a href="http://google.de/">test</a>.</p>
      <hr>
    </div>
    <!--/col-->
  </div>
  <!--/container-->

  {% include 'inc_plan.twig' %}

  <div class="divider" id="section5"></div>

  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h2>Kontakt</h2>

    <hr>
    <h4>
      TODO: Hinweis auf gemeinnützligkeit + Link ...
    </h4>

    <p>add the link here <a href="http://google.de/">test</a>.</p>
    <hr>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="row form-group">
        <div class="col-xs-5">
          <input type="text" class="form-control" name="firstName" id="js-contact-firstName" placeholder="Vorname" required="">
        </div>
        <div class="col-xs-5">
          <input type="text" class="form-control" name="lastName" id="js-contact-lastName" placeholder="Nachname" required="">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-5">
          <input type="email" class="form-control" name="email" id="js-contact-email" placeholder="E-Mail" required="">
        </div>
        <div class="col-xs-5">
          <input type="email" class="form-control" name="phone" id="js-contact-phone" placeholder="Tel." required="">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-10">
          <textarea type="text" class="form-control" name="text" id="js-contact-text" required=""></textarea>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-10">
          <button class="btn btn-default pull-right">Anfrage senden</button>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-3 pull-right text-center">
      <address>
        <strong>OpenRheinRuhr e. V.</strong><br/>
        c/o Michael Gisbers<br/>
        Neukölner Str. 94<br/>
        46147 Oberhausen
      </address>

      <address>
        <strong>E-Mail:</strong><br>

        <p><a href="mailto:info@openrheinruhr.de">info@openrheinruhr.de</a></p>
        <strong>Tel.:</strong>

        <p>0208 675240</p>
        <strong>Fax</strong>

        <p>0208 675260</p>
      </address>
    </div>

  </div>
  <!--/row-->
{% endblock %}
