{% extends 'tpl_base.twig' %}

{% block content %}
  <ul>
  {% for ticket in data['tickets'] %}
    <li>{{ ticket.email }} | {{ ticket.lastname }} {{ ticket.firstname }}</li>
  {% endfor %}
  </ul>
{% endblock %}
